.Header {
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  gap: var(--space-sm);
  background-color: var(--blue);
  z-index: 50;
  padding: var(--space-sm);
  margin: 0;
}
.logo {
  flex-basis: auto;
  width: 6rem;
  height: 6rem;
  position: relative;
  /* margin: var(--space-sm); */
  /* margin-left: var(--space-sm);
  margin-top: var(--space-sm);
  margin-right: var(--space-sm); */
  z-index: 10;
  flex-shrink: 1;
}

.headers {
  flex-basis: 60%;
  text-align: center;
}

.Header h1 {
  position: relative;
  color: var(--off-white);
  /* -webkit-text-stroke-width: 0.08rem;
  -webkit-text-stroke-color: var(--blue); */
  font-size: var(--font-size-xlg);
  font-weight: 800;
  margin: 0;
}
.Header h2 {
  position: relative;
  color: var(--off-white);
  font-size: var(--font-size-m);
  font-weight: 700;
  margin: var(--space-sm) 0 0 0;
}
