.container {
  width: 100%;
  height: 100%;
}
.card--upcoming-matches {
  width: 90%;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.9);
  margin: var(--space-lg) auto;
  color: #18173c;
  text-align: center;
  font-size: var(--font-size-xlg);
  font-weight: 500;
}

@media screen and (min-width: 30em) {
  .card--upcoming-matches {
    width: 90%;
  }
}

@media screen and (min-width: 60em) {
  .card--upcoming-matches {
    width: 80%;
  }
}

@media screen and (min-width: 90em) {
  .card--upcoming-matches {
    width: 70%;
  }
}
