.container {
  width: 100%;
  height: 100%;
}

.container__bg {
  background: url("../../public/girl.jpg") no-repeat top 2rem center;
  background-blend-mode: multiply;
  max-width: 100vw;
  height: 100vh;
  background-size: cover;
}
.container__bg::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: var(--dark-overlay);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}
.transbox {
  position: relative;
  opacity: 1;
  padding-top: var(--space-md);
  padding-right: var(--space-md);
  font-size: var(--font-size-md);
  color: var(--off-white);
}
.transbox__bg {
  background-color: var(--blue-trans);
  background-size: contain;
  padding: var(--space-sm);
}
.transbox h1 {
  display: inline-block;
  position: relative;
  padding-left: var(--space-md);
  margin-left: var(--space-md);
  margin-top: 11rem;
}

.transbox div {
  padding: var(--space-sm) var(--space-md);
  display: flex;
  row-gap: 0.1rem;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-size-xlg);
  text-align: center;

  margin-top: var(--space-md);
  margin-left: 10%;
}
.transbox__try {
  background-color: var(--blue-trans);
  display: inline-block;
  box-shadow: 0 0.1rem 0 var(--blue-trans);
  margin: 0 0;
  padding: 0.2em 0.8em;
}

.transbox__date {
  justify-self: end;
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: var(--font-size-md);
  font-weight: 900;
}
.transbox__place {
  grid-column: 3/4;
  grid-row: 1/3;
  font-weight: 300;
}
