:root {
  --blue: rgba(57, 55, 146, 1);
  --blue-trans: rgba(57, 55, 146, 0.85);
  --pink: rgba(226, 126, 187, 1);
  --off-white: rgba(245, 245, 243, 1);
  --off-white-trans: rgba(245, 245, 243, 0.6);
  --dark-overlay: rgba(0, 0, 0, 0.4);

  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xlg: 2rem;

  --font-size-sm: 1rem;
  --font-size-md: 1.3rem;
  --font-size-lg: 1.5rem;
  --font-size-xlg: 2rem;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
